@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: PF-Black;
  src: url(../fonts/PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: PF;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/*
header
*/
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 5px 60px;
  background-color: #02c39a;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
}

.menu__contacts img {
  margin-right: 10px;
}

.menu__contacts a {
  text-decoration: none;
}

.menu__contacts a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu__contacts span {
  font-family: Roboto-Black;
  font-size: 18px;
  font-weight: 900;
  color: #2D2D2D;
  opacity: 0.8;
}

.burger {
  display: none;
}

.progress {
  position: relative;
  width: 100%;
  height: 7px;
  background-color: #1e9b80;
}

.progress__line {
  position: absolute;
  left: 0;
  top: 0;
  height: 7px;
  width: 0%;
  background-color: #78e3cc;
}

/*
information block
*/
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 800px;
  padding-top: 160px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../images/3.jpg");
  background-size: 100% 900px;
  background-repeat: no-repeat;
}

.info h1 {
  color: #ffffff;
  font-family: PF-Black;
  font-size: 50px;
  z-index: 1;
  width: 900px;
  margin-bottom: 60px;
}

.info__dark {
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  height: 803px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.info__price {
  font-family: Roboto-Black;
  font-size: 80px;
  color: #02c39a;
  z-index: 1;
  margin-bottom: 40px;
}

.info__text {
  font-family: Roboto-bold;
  font-size: 24px;
  color: #ffffff;
  z-index: 1;
  line-height: 50px;
}

/*
prod block
*/
.prod {
  position: relative;
}

.prod__title {
  text-align: center;
  margin-bottom: 60px;
}

.prod__title h2 {
  font-family: PF;
  font-weight: 800;
  font-size: 62px;
  color: #2D2D2D;
  margin-bottom: 15px;
  -webkit-transform: translate(0px, 110%);
          transform: translate(0px, 110%);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.prod__title h2._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.prod__title span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: #2D2D2D;
  -webkit-transform: translate(0px, 110%);
          transform: translate(0px, 110%);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.3;
  transition: 0.4s ease 0.3;
}

.prod__title span._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.prod__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.prod__section:first-child {
  background: #ffffff;
}

.prod__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px 50px 150px 50px;
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.prod__item .prod__container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: -20px 20px 0px 0px rgba(30, 155, 128, 0.8);
          box-shadow: -20px 20px 0px 0px rgba(30, 155, 128, 0.8);
  border-radius: 6px;
}

.prod__item .prod__container img {
  width: 64px;
}

.prod__item .prod__container span {
  margin-top: 15px;
  font-family: Roboto-Black;
  font-size: 32px;
  text-align: center;
  color: #02c39a;
}

.prod__item._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.prod__item_reverse {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translate(200px, 0px);
          transform: translate(200px, 0px);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.prod__item_reverse .prod__container {
  -webkit-box-shadow: 20px 20px 0px 0px rgba(30, 155, 128, 0.8);
          box-shadow: 20px 20px 0px 0px rgba(30, 155, 128, 0.8);
}

.prod__item._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.prod__graf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 150px;
  height: 100%;
}

.prod__graf .prod__line {
  width: 3px;
  height: 250px;
  background: #1e9b80;
  opacity: 0.8;
}

.prod__graf .prod__line:first-child {
  height: 125px;
}

.prod__graf .prod__line:last-child {
  height: 325px;
}

.prod__graf .prod__line_linear_start {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%), to(#1e9b80));
  background: linear-gradient(white, 20%, #1e9b80);
}

.prod__graf .prod__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #1e9b80;
  opacity: 0.8;
  border-radius: 50%;
  font-family: Roboto-Black;
  font-size: 20px;
  color: #1e9b80;
}

.prod__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
  margin: 0 50px 150px 50px;
}

.prod__info h3 {
  font-family: Roboto-Black;
  font-size: 46px;
  color: #2D2D2D;
  margin-bottom: 10px;
  -webkit-transform: translate(0px, 110%);
          transform: translate(0px, 110%);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.prod__info h3._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.prod__info span {
  font-family: Roboto;
  font-size: 18px;
  color: #636363;
  line-height: 32px;
  -webkit-transform: translate(0px, 110%);
          transform: translate(0px, 110%);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
}

.prod__info span._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

/*
advantages block
*/
.advantages {
  height: 1400px;
  background-color: #1e9b80;
  padding: 120px 0;
  text-align: center;
}

.advantages .advantages__title h2 {
  font-family: PF;
  font-weight: 800;
  font-size: 62px;
  color: #ffffff;
  margin-bottom: 15px;
  -webkit-transform: translate(0px, 110%);
          transform: translate(0px, 110%);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
}

.advantages .advantages__title h2._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.advantages__item {
  margin: 0 40px;
  width: 400px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
}

.advantages__item h3 {
  font-family: Roboto-Black;
  font-size: 32px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 10px;
}

.advantages__item._active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.advantages__table {
  margin: 100px auto;
  padding: 60px;
  width: 40%;
  background-color: #ffffff;
  height: 500px;
  border-radius: 100px;
}

.advantages__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 2px solid #02c39a;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: #2D2D2D;
  opacity: 0.8;
}

.advantages__tr_title {
  font-family: Roboto-Black;
  font-size: 24px;
  color: #02c39a;
  opacity: 0.8;
}

.advantages__td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.advantages__tr .advantages__td:first-child {
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
}

.advantages__tr .advantages__td:first-child._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.advantages__tr .advantages__td:last-child {
  -webkit-transform: translate(200px, 0px);
          transform: translate(200px, 0px);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
}

.advantages__tr .advantages__td:last-child._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.advantages__td:first-child {
  border-right: 2px solid #02c39a;
}

/*
certificate block
*/
.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 40px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  background-color: #ffffff;
}

.certificate h2 {
  font-family: PF;
  font-weight: 800;
  font-size: 62px;
  color: #2D2D2D;
  margin-bottom: 15px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.certificate h2._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.certificate span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: #2D2D2D;
  margin-bottom: 40px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.5s;
  transition: 0.4s ease 0.5s;
}

.certificate span._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.certificate img {
  width: 712px;
  height: 1024px;
  margin: 40px 0;
}

.certificate img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

/*
footer
*/
.footer {
  position: relative;
  background-color: #1e9b80;
  padding: 60px 40px 0 40px;
  height: 480px;
}

.footer a:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__title {
  position: absolute;
  top: -57px;
  left: 47%;
  color: #1e9b80;
  font-family: Roboto-Black;
  font-size: 60px;
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
  opacity: 0;
  -webkit-transition: 0.4s ease 0.2s;
  transition: 0.4s ease 0.2s;
}

.footer__title._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.footer__container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  text-align: left;
}

.footer__text {
  font-family: PF-Black;
  font-size: 36px;
  color: #ffffff;
  opacity: 0.8;
}

.footer__phones {
  color: #2D2D2D;
  font-family: Roboto-Bold;
  font-size: 24px;
  margin-top: 20px;
  opacity: 0.8;
}

.footer__phones div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.footer__phones div img {
  margin-right: 5px;
}

.footer__phones div a {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer__email {
  color: #2D2D2D;
  font-family: Roboto-Bold;
  font-size: 24px;
  margin-top: 20px;
  opacity: 0.8;
}

.footer__email div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.footer__email img {
  margin-right: 5px;
}

.footer__email a {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer__address a {
  color: #ffffff;
  font-family: Roboto-Bold;
  font-size: 20px;
  opacity: 0.8;
}

.footer__info {
  color: #2D2D2D;
  font-family: Roboto-Bold;
  font-size: 24px;
  margin: 30px 0;
  opacity: 0.8;
  line-height: 32px;
}

.foooter__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2D2D2D;
  font-family: Roboto-bold;
  font-size: 20px;
  margin-top: 20px;
  opacity: 0.8;
}

@media (max-width: 1440px) {
  .menu {
    padding: 5px 30px;
  }
  .menu__contacts {
    margin: 0 10px;
  }
  .prod__info h3 {
    font-size: 40px;
  }
  .footer {
    height: 520px;
  }
  .prod__item {
    -webkit-transform: translate(-15px, 0px);
            transform: translate(-15px, 0px);
  }
  .prod__item_reverse {
    -webkit-transform: translate(15px, 0px);
            transform: translate(15px, 0px);
  }
  .advantages__tr .advantages__td:first-child {
    -webkit-transform: translate(-15px, 0px);
            transform: translate(-15px, 0px);
    opacity: 0;
    -webkit-transition: 0.4s ease 0.3s;
    transition: 0.4s ease 0.3s;
  }
  .advantages__tr .advantages__td:last-child {
    -webkit-transform: translate(15px, 0px);
            transform: translate(15px, 0px);
    opacity: 0;
    -webkit-transition: 0.4s ease 0.3s;
    transition: 0.4s ease 0.3s;
  }
  .advantages__table {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .menu {
    padding: 5px 30px;
  }
  .menu__links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__contacts {
    margin: 0 10px;
  }
  .menu__contacts span {
    font-size: 14px;
  }
  .prod__item .prod__container span {
    font-size: 26px;
  }
  .prod .prod__title h2 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .prod .prod__title span {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .prod .prod__item {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .prod .prod__info h3 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .prod .prod__info span {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .prod .prod__item_reverse {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .advantages .advantages__title h2 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .advantages .advantages__item {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .advantages__tr .advantages__td:first-child {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .advantages__tr .advantages__td:last-child {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .certificate h2 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .certificate span {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .menu {
    padding: 5px 30px;
  }
  .menu__links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__contacts {
    margin: 0 10px;
  }
  .info h1 {
    font-size: 40px;
  }
  .info .info__price {
    font-size: 60px;
  }
  .info .info__text {
    font-size: 20px;
  }
  .prod__title h2 {
    font-size: 40px;
  }
  .prod__title span {
    font-size: 16px;
  }
  .prod__item {
    width: 30%;
  }
  .prod__item .prod__container span {
    font-size: 20px;
  }
  .prod__info {
    width: 30%;
  }
  .prod__info h3 {
    font-size: 30px;
  }
  .advantages {
    padding: 40px 0;
    height: 1250px;
  }
  .advantages .advantages__title h2 {
    font-size: 40px;
  }
  .advantages .advantages__item {
    margin: 0 20px;
  }
  .advantages .advantages__item h3 {
    font-size: 24px;
  }
  .advantages .advantages__item img {
    width: 220px;
  }
  .advantages .advantages__table {
    width: 70%;
  }
  .certificate {
    width: 80%;
    padding: 60px 0;
  }
  .certificate h2 {
    font-size: 40px;
  }
  .certificate span {
    font-size: 16px;
  }
  .certificate img {
    width: 500px;
    height: 700px;
  }
  .footer__text {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .menu {
    padding: 5px 50px;
  }
  .menu__links {
    display: none;
  }
  .burger {
    display: block;
    height: 100%;
  }
  #burger__toggle {
    position: absolute;
    opacity: 0;
    top: 30px;
    right: 30px;
  }
  .burger__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
  }
  .burger__btn span,
  .burger__btn span::before,
  .burger__btn span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 1.5px;
    background: #2D2D2D;
  }
  .burger__btn span::before {
    content: "";
    top: -7px;
  }
  .burger__btn span::after {
    content: "";
    top: 7px;
  }
  .burger__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    height: 1200px;
    margin: 0;
    padding: 60px 0;
    background-color: #02c39a;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    z-index: 1;
  }
  .burger__box .burger__logo {
    width: 168px;
    margin: 0 auto;
  }
  .burger__box .menu__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0px;
  }
  .burger__box .menu__contacts img {
    margin-right: 5px;
  }
  .burger__box .menu__contacts a {
    text-decoration: none;
  }
  .burger__box .menu__contacts a:hover {
    opacity: 0.7;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .burger__box .menu__contacts span {
    font-family: Roboto-Black;
    font-size: 18px;
    font-weight: 900;
    color: #2D2D2D;
    opacity: 0.8;
  }
  #burger__toggle:checked ~ .burger__btn > span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #burger__toggle:checked ~ .burger__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  #burger__toggle:checked ~ .burger__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #burger__toggle:checked ~ .burger__box {
    visibility: visible;
    top: 0;
  }
  .info h1 {
    font-size: 32px;
    width: 60%;
  }
  .prod {
    position: relative;
  }
  .prod .prod__section {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .prod .prod__section .prod__graf {
    position: absolute;
    left: 1%;
    top: 50px;
  }
  .prod .prod__section:nth-child(2) .prod__graf {
    top: 120px;
  }
  .prod .prod__section:nth-child(3) .prod__graf {
    top: 625px;
  }
  .prod .prod__section:nth-child(4) .prod__graf {
    top: 1130px;
  }
  .prod .prod__section:nth-child(5) .prod__graf {
    top: 1635px;
  }
  .prod .prod__section:nth-child(6) .prod__graf {
    top: 2140px;
  }
  .prod .prod__section:nth-child(7) .prod__graf {
    top: 2645px;
  }
  .advantages {
    height: 1650px;
  }
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__container .advantages__item img {
    width: 160px;
  }
  .footer__title {
    left: 40%;
  }
}

@media (max-width: 800px) {
  .info .info__text {
    width: 80%;
  }
  .prod .prod__item {
    margin: 10px 20px;
  }
  .prod .prod__item span {
    font-size: 18px;
  }
  .prod .prod__info h3 {
    font-size: 24px;
  }
  .prod .prod__info span {
    font-size: 16px;
  }
  .prod .prod__section {
    padding: 0 40px 0 0;
  }
  .prod .prod__section .prod__graf {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 100px;
  }
  .footer__container {
    width: 95%;
  }
}

@media (max-width: 690px) {
  .menu .menu__logo {
    width: 20%;
  }
  .info {
    padding-top: 120px;
  }
  .info h1 {
    font-size: 28px;
    width: 80%;
  }
  .certificate {
    width: 100%;
  }
  .certificate span {
    width: 80%;
  }
  .footer {
    height: 580px;
  }
  .prod .prod__section {
    margin-left: 40px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .prod .prod__section .prod__item {
    width: 80%;
  }
  .prod .prod__section .prod__info {
    margin: 60px 0;
    width: 80%;
  }
  .prod .prod__section .prod__info h3 {
    margin: 0 auto;
  }
  .prod .prod__section:nth-child(3),
  .prod .prod__section:nth-child(5),
  .prod .prod__section:nth-child(7) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .prod .prod__item_reverse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .prod .prod__item_reverse .prod__container {
    -webkit-box-shadow: -20px 20px 0px 0px rgba(30, 155, 128, 0.8);
            box-shadow: -20px 20px 0px 0px rgba(30, 155, 128, 0.8);
  }
}

@media (max-width: 540px) {
  .info h1 {
    width: 80%;
    font-size: 26px;
  }
  .info .info__price {
    font-size: 40px;
  }
  .info .info__text {
    font-size: 16px;
    line-height: 36px;
  }
  .prod__graf .prod__line:first-child {
    height: 200px;
  }
  .prod .prod__section {
    height: 575px;
  }
  .prod .prod__section:nth-child(2) .prod__graf {
    top: 120px;
  }
  .prod .prod__section:nth-child(3) .prod__graf {
    top: 700px;
  }
  .prod .prod__section:nth-child(4) .prod__graf {
    top: 1280px;
  }
  .prod .prod__section:nth-child(5) .prod__graf {
    top: 1860px;
  }
  .prod .prod__section:nth-child(6) .prod__graf {
    top: 2440px;
  }
  .prod .prod__section:nth-child(7) .prod__graf {
    top: 3020px;
  }
  .advantages {
    height: 1450px;
  }
  .advantages .advantages__table {
    height: 420px;
    margin: 0 auto;
    padding: 40px;
  }
  .advantages .advantages__tr_title {
    font-size: 16px;
  }
  .advantages .advantages__tr {
    height: 40px;
    font-size: 12px;
  }
  .certificate img {
    margin: 20px;
    width: 350px;
    height: 500px;
  }
  .footer__title {
    font-size: 50px;
    top: -47px;
  }
}

@media (max-width: 490px) {
  .info h1 {
    font-size: 24px;
    width: 90%;
  }
  .burger__box {
    width: 100%;
  }
  .burger__box .menu__contacts:last-child {
    width: 50%;
    margin: 10px auto;
  }
  .burger__box .menu__contacts:last-child span {
    font-size: 16px;
  }
  .prod .prod__title h2 {
    font-size: 30px;
  }
  .prod .prod__item .prod__container {
    padding: 25px;
  }
  .prod .prod__info span {
    font-size: 14px;
    font-weight: 600;
  }
  .advantages {
    height: 1350px;
  }
  .advantages .advantages__title h2 {
    font-size: 30px;
  }
  .advantages .advantages__table {
    padding: 30px;
    width: 70%;
    border-radius: 60px;
  }
  .advantages .advantages__item h3 {
    font-size: 20px;
  }
  .certificate h2 {
    font-size: 30px;
  }
  .footer {
    height: 620px;
  }
  .footer .footer__title {
    left: 36%;
  }
}

@media (max-width: 410px) {
  .menu .menu__logo {
    width: 30%;
  }
  .footer {
    height: 760px;
  }
}

@media (max-width: 370px) {
  .info h1 {
    font-size: 20px;
  }
  .prod .prod__title h2 {
    font-size: 24px;
  }
  .prod .prod__item .prod__container {
    padding: 15px;
  }
  .prod .prod__item .prod__container span {
    font-size: 14px;
  }
  .prod .prod__info h3 {
    font-size: 16px;
  }
  .prod .prod__info span {
    font-size: 12px;
  }
  .advantages .advantages__title h2 {
    font-size: 24px;
  }
  .certificate h2 {
    font-size: 24px;
  }
  .certificate img {
    width: 300px;
    height: 475px;
  }
  .footer {
    height: 800px;
  }
  .footer .footer__title {
    left: 30%;
  }
}
/*# sourceMappingURL=index.css.map */